body {
    background-color: #734f96;
    color: #050505;
    margin: 0;
    padding: 0;
    font-family: 'Santral';font-size: 22px;
}

.image-container {
    background-color: #f7f7f7;
    padding: 1px;
    margin-top: 5px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to horizontally center the items */
}

.image-container  h2 {
    font-family: "Santral";
}

.image-container img {
    width: 50px; /* Adjust the width as desired */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px;
    align-self: right; /* Adjust the margin as desired */
}

.horizontal-bar {
    background-color: #f7f7f7;
    padding: 1px;
}

.horizontal-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    display: flex;
}

.horizontal-bar li {
    flex: 1;
    text-align: center;
}

.horizontal-bar li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: light;
}

.horizontal-bar li a:hover {
    background-color: #ddd;
}

img {
    width: 100%;
    height: auto;
}